ipykernel
ipython
ipywidgets
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
nbclient
nbconvert
nbformat
notebook
notebook_shim
pandocfilters
Glances
# extensions
jupyterlab-git
jupyter-tensorboard-proxy 
jupyter-resource-usage
jupyter-vscode-proxy
jupyter-rsession-proxy
jupyter-book
jupyterlab_myst
gh-scoped-creds
jupyter-server-proxy

